#bookinglist-warpper {
    width: 100%;
    max-width: 1200px; /* 최대 너비를 설정하여 너무 넓어지지 않도록 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.bookinglist-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.bookinglist-list-top-deatail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
}

.bookinglist-date, .bookinglist-bill {
    color: #555;
}

.bookinglist-list-main-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.bookinglist-list-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
}

.bookinglist-hotel-detail {
    flex: 1;
    margin-left: 20px;
}

.bookinglist-hotel-title, .bookinglist-hotel-room {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.bookinglist-detail-list {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.bookinglist-stay, .bookinglist-start-end-time {
    margin-bottom: 10px;
}

.bookinglist-start-end-time {
    display: flex;
    justify-content: space-between;
}

.bookinglist-count-reviewbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookinglist-count {
    font-size: 14px;
    color: #555;
}

.bookinglist-reviewbox {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bookinglist-reviewbox:hover {
    background-color: #0056b3;
}

.reviewwrite-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.reviewwrite-inputbox {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    outline: none;
}

.reviewwrite-inputbox:focus {
    border-color: #007bff;
}

.score-component {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.star-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.submission-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.submission-button:hover {
    background-color: #0056b3;
}
